.headerContainer {
  padding-top: 2rem;
  padding-bottom: 2.5rem;
}

.headerTitle {
  color: var(--color-dark-navy);
  font-size: 2.5rem;
  font-weight: 300;
}

.scoreTitle {
  font-weight: 500;
}

.scoreCardContainer {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.scoreCardChildContainer {
  background-color: var(--color-pure-white);
  border-radius: 0.75rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.titleContainer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 1.125rem;
  font-weight: 500;
  text-transform: capitalize;
}

.scoreText {
  font-size: 5.5rem;
  font-weight: 500;
}

.scoreTotal {
  font-size: 1.125rem;
  font-weight: 300;
}

.submitBtn {
  border-radius: 0.75rem;
  background-color: var(--color-purple);
  color: var(--color-pure-white);
  height: 3.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  padding: 0.75rem;
}

.submitBtn:hover {
  background-color: var(--color-light-purple);
  transform: scale(1.02);
}

.submitBtn:active {
  transform: scale(0.98);
}

.submitBtn:focus {
  outline: none;
  box-shadow: 0 0 0 0.125rem var(--color-primary);
}

[data-theme="dark"] {
  .headerTitle {
    color: var(--color-pure-white);
  }
  .scoreCardChildContainer {
    background-color: var(--color-navy);
  }
}

@media (min-width: 30.063em) and (max-width: 48em) {
  .headerContainer {
    padding-top: 2rem;
    padding-bottom: 4rem;
  }
  .headerTitle {
    font-size: 4rem;
  }
  .scoreCardChildContainer {
    padding: 3rem;
    gap: 2.5rem;
  }
  .titleContainer {
    gap: 1.5rem;
  }
  .title {
    font-size: 1.75rem;
  }
  .scoreText {
    font-size: 9rem;
  }
  .scoreTotal {
    font-size: 1.5rem;
  }
  .submitBtn {
    font-size: 1.75rem;
    margin-top: 2rem;
  }
}

@media (min-width: 64em) {
  @media (min-width: 64em) {
    :root {
      --main-width: min(100% - 2rem, 72.5rem);
    }
    .header {
      width: var(--main-width);
      margin-inline: auto;
      padding-top: 7.5rem;
      padding-bottom: 0rem;
    }
    .main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: var(--main-width);
    }
    .headerContainer {
      padding: 0rem;
    }
    .headerTitle {
      font-size: 4rem;
      font-weight: 300;
    }
  }
}
