:root {
  --color-purple: #a729f5;
  --color-light-purple: #d394fa;
  --color-success: #26d982;
  --color-danger: #ee5353;
  --color-dark-blue: #303250;
  --color-grey-navy: #626c7f;
  --color-light-grey: #f4f6fa;
  --color-light-bluish: #abc1e1
  --primary-color: #3c4e68;
  --background-color: #f4f6fa;
  --mobile-bg: url("../src/assets/images/pattern-background-mobile-light.svg");
  --tablet-bg: url("../src/assets/images/pattern-background-tablet-light.svg");
  --desktop-bg: url("../src/assets/images/pattern-background-desktop-light.svg");
}

[data-theme="dark"] {
  --primary-color: #ffffff;
  --background-color: #3c4e68;
  --mobile-bg: url("../src/assets/images/pattern-background-mobile-dark.svg");
  --tablet-bg: url("../src/assets/images/pattern-background-tablet-dark.svg");
  --desktop-bg: url("../src/assets/images/pattern-background-desktop-dark.svg");
}

body {
  background-color: var(--background-color);
  color: var(--primary-color);
  background-image: var(--mobile-bg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Rubik", serif;
  font-optical-sizing: auto;
  font-style: normal;
  padding: 2rem 1.5rem;
}

/* Tablet */
@media (min-width: 30.063em) and (max-width: 48em) {
  body {
    background-image: var(--tablet-bg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

/* Desktop */
@media (min-width: 64em) {
  body {
    background-image: var(--desktop-bg);
    background-size: cover;
    background-repeat: no-repeat;
  }
}
